# GitHub Actions runner runtime files (if ever re-extracted locally)
runner/bin/
runner/externals/
runner/_diag/
runner/_work/
runner/*.tar.gz
runner/.credentials
runner/.credentials_rsaparams
runner/.path
runner/.runner
runner/config.sh
runner/env.sh
runner/run.sh
runner/run-helper.cmd.template
runner/run-helper.sh
runner/run-helper.sh.template
runner/safe_sleep.sh
runner/svc.sh
